.docs{
    margin-top: 60px;
    &__files{
        margin-left: 80px;
        width: 100%;
        &-container{
            display: flex;
            align-items: center;
            width: 100%;
            margin-bottom: 50px;
        }
        &-name{
            margin-left: 40px;
        }
        &-download{
            display: inline-block;
            margin-left: auto;
        }
    }
    &__links{
        margin-top: 50px;
        &-item{
            display: block;
            color: black;
            font-weight: bold;
            font-size: 18px;
            margin-right: 30px;
            text-decoration: none;
            border: 1px solid var(--hilight);
            border-radius: 15px;
            padding: 20px;
            margin-bottom: 50px;
        }
    }
}