body{
    font-family: 'Gotham Pro';
    margin: 0;
    padding: 0;
}
section{
    background-color: white;
}
.test{
    background-color: var(--hilight);
}
.container{
    margin: 0 auto;
    max-width: 1480px;  //1480px
}
.header{
    height: 75px;
    width: 100%;
    background-color: var(--main-color);
}
.logo{
    width: 240px;
}
.flex-container{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}
.flex{
    display: flex;
}
.navigation{
    display: flex;
    align-items: center;
    position: relative;
}
.nav-item{
    margin-left: 40px;
    text-decoration: none;
    color: var(--black);
    font-size: 16px;
    cursor: pointer;
}
.nav-button{
    margin-left: 40px;
    text-decoration: none;
    color: var(--black);
    display: inline-block;
    background-color: var(--white);
    padding: 14px 16px;
    font-size: 16px;
    line-height: 15px;
    border-radius: 15px;
}
.footer{
    background-color: var(--main-color);
    height: 250px;
    // position: fixed;
    // bottom: 0;
    width: 100%;

    &-wrap{
        display: flex;
        padding-top: 20px;
        padding-bottom: 50px;
        height: calc(100% - 70px);
        justify-content: space-between;
    }

    &-column{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        width: 33.3%;
        padding-left: 40px;        
    
        &:nth-child(3) {
            justify-content: end;
            & > .column-item{
                flex-direction: column;
                justify-content: space-around;
                height: 120px;
                align-items: baseline;
            }
        }
    }

    &-item{
        display: flex;
        align-items: center;
        &-center{
            height: 66%;
            display: flex;
            align-content: space-around;
            flex-wrap: wrap;
            width: 100%;
        }
        &-last{
            flex-direction: column;
            height: 66%;
            justify-content: space-around;
            align-items: flex-start;
            width: 100%;
        }
    }


    &-icon{
        margin-right: 30px;
        display: inline-block;
    }

    &-site{
        text-decoration: underline;
        color: var(--black);
        &-flex{
            display: flex;
            align-items: center;
            justify-content: start;
            width: 100%;
        }
    }

    &-link{
        width: 30%;
        display: flex;
        align-items: center;
    }

    &-content{
        color: var(--black);
        text-decoration: none;
        display: flex;
        align-items: center;
    }
    &-map{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(175, 224, 255, 0.7);
        justify-content: center;
        align-items: center;
        z-index: 3;
        &-frame{
            width: 600px;
            height: 450px;
            border: 1px solid black;
            border-radius: 15px;
        }
        &-close{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: var(--main-color);
            position: absolute;
            top: calc(50% - 225px);
            left: calc(50% + 300px);
            transform: translate(-50%, -50%);
            cursor: pointer;
            &::before{
                content: '';
                width: 2px;
                height: 40px;
                background-color: var(--white);
                position: absolute;
                transform: rotate(45deg);
                left: 23px;
                top: 5px;
            }
            &::after{
                content: '';
                width: 2px;
                height: 40px;
                background-color: var(--white);
                position: absolute;
                transform: rotate(-45deg);
                left: 23px;
                top: 5px;
            }
        }
    }
}

.padding{
    padding-left: 80px;
}

.footer-item:nth-child(2) > .footer-content{
    text-decoration: underline;
}

.search{
    width: 480px;
    margin: 55px 0 30px;
    position: relative;
}
#main-search{
    width: 100%;
    height: 53px;
    border: 1px solid var(--main-color);
    border-radius: 15px;
    padding: 10px 55px;
    font-size: 20px;
}
// #main-search:focus{
//     border: 2px solid var(--main-color);
// }
.search::before{
    content: "";
    color: #D9D9D9;
    position: absolute;
    top: 25px;
    left: 32px;
    font-size: 40px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: 8px 0px 0px grey;
    background-color: gray;
}
.search::after{
    content: "";
    color: #D9D9D9;
    position: absolute;
    top: 25px;
    left: 48px;
    font-size: 40px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: gray;
}
.search-img{
    position: absolute;
    top: 9px;
    right: 17px;
}
.content{
    width: calc(100% - 440px);
    padding-left: 40px;
    min-height: 580px;
    z-index: 2;
    background: white;
}
.birthdays{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 37px;
}
.birthday{
    margin-left: 23px;
    display: flex;
    align-items: center;
}
.birthday-day{
    display: block;
    text-align: center;
    font-size: 40px;
    line-height: 36px;
}
.birthday-month{
    font-weight: bold;
}
.user{
    font-size: 24px;
    max-width: 150px;
    margin-left: 20px;
}
.date{
    text-align: center;
    font-size: 40px;
    line-height: 36px;
    &-container{
        padding: 15px 0 7px;
        margin: 30px 0;
    }
}
.month{
   font-size: 24px; 
    margin-left: 15px;
    margin-right: 50px;
    display: inline-block;
    width: 120px;
}
.events-list{
    position: relative;
   height: calc(100% - 140px);
}
.withoutEvents{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}
.news{
    background: rgba(175, 224, 255, 0.2);
    width: 100vw;
    height: 446px;
    display: flex;
    align-items: center;
    position: relative;
    &-block{
        width: 420px;
        margin-right: 73px;
    }
    &-wrap{
        background: var(--main-color);
        overflow: hidden;
        height: 100%;
        width: 97vw;
    background-position: 100% center;
    background-repeat: no-repeat;
        background: linear-gradient(90deg, #AFE0FF 85%, transparent 100%), url('../../public/images/round.png');
        // &::after{
        //     content: '';
        //     position: absolute;
        //     border-radius: 100%;
        //     width: 50%;
        //     height: 193%;
        //     top: 58%;
        //     left: 48%;
        //     background: var(--main-color);
        //     border-right: 10px solid var(--second-color);
        // }
    }
    &-content{
        padding-left: calc((100vw - 1480px)/2);
        max-width: 1480px;
        display: flex;
    }
    &-date{
        padding-top: 30px;
        padding-bottom: 20px;
        color: white;
    }
    &-link{
        width: 60px;
        height: 60px;
        display: block;
        left: 90vw;
        position: absolute;
        border-radius: 50%;
        background: white;
        &::after{
            content: url('../../public/images/icons/link.svg');
            position: absolute;
            width: 60px;
            top: 10px;
            left: 17px;
          }
    }
}
.next{
    width: 100%;
    &-flex{
        display: flex;
    }
}
.management{
    width: 30%;
    border: 1px solid black;
    border-radius: 15px;
    margin: 30px 0;
    padding: 30px;
    &-heading{
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 15px;
    }
}
.departments{
    flex: 380px 0 1;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    margin: 0 0 40px 0;
    &:nth-of-type(odd){
        margin: 0 63px 40px 0;
    }
    &-wrap{
        display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: 30px 0 30px 65px;
    }
    &-name{
        font-size: 24px;
    line-height: 35px;
    color: black;
    text-decoration: none;
    display: inline-block;
    width: 260px;
    text-align: left;
    }
    &-img{
        width: 100px;
    }
    &:hover{
        border: 1px solid var(--main-color);
        font-weight: bold;
        border-radius: 15px;
        margin: 0 0 38px 0;
    }
    &:nth-of-type(odd):hover{
        margin: 0 61px 38px 0;
    }
}
.projects{
    display: none;
    position: absolute;
    top: 45px;
    right: 254px;
    z-index: 3;
    background: var(--second-color);
    padding: 20px;
    &-item{
        display: block;
        text-decoration: none;
        color: black;
        font-size: 16px;
        padding: 10px 0;
    }
}