/* (A) GLOBAL */
@use './variables';
@use './fonts';
* {
  font-family: 'Gotham Pro';
  box-sizing: border-box;
}
body {
  display: flex;
  min-height: 100vh;
  padding: 0; margin: 0;
}

/* (B) SIDEBAR */
/* (B1) SIDEBAR ITSELF */
#pgside {
  width: 270px;
  flex-shrink: 0;
  transition: width 0.2s;
  background: var(--second-color);
}

/* (B2) USER OR BRANDING */
#pgside #pguser {
  display: flex;
  align-items: center;
  padding: 10px 5px;
}
#pgside #pguser img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  border-radius: 50%;
  border:1px solid var(--hilight)
}

/* (B3) SIDEBAR ITEMS */
#pgside, #pgside a { color: #fff; }
#pgside a {
  display: block;
  padding: 20px;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
}
#pgside a:last-of-type{
  position: relative;
  left: 0;
  bottom: -50%;
  background: rgba(255,164,39, 0.7);
  color: #fff;
  margin-left: 0px;
  border-radius: 0px;
}
#pgside a.current { background: var(--hilight); }
#pgside a:hover { background: rgba(255,164,39, 0.7); }

/* (B4) SIDEBAR ICONS & TEXT */
#pgside i.ico, #pgside i.txt { font-style: normal; }
#pgside i.ico {
  font-size: 1.1em;
  margin-right: 10px;
}

/* (B5) SMALL SCREEN TRANSFORMATION */
@media screen and (max-width:768px) {
  #pgside { width: 70px; }
  #pgside #pguser { justify-content: center; }
  #pgside a {
    text-align: center;
    padding: 20px 0;
  }

  #pgside i.ico {
    font-size: 1.5em;
    margin-right: 0;
  }
  #pgside i.txt { display: none; }
}

/* (C) MAIN CONTENTS */
#pgmain {
  flex-grow: 1;
  padding: 20px;
  background: var(--white);
}

table.zebra {
  width: 100%;
  border-collapse: collapse;
}
table.zebra tr:nth-child(odd) { background: #f2f2f2; }
table.zebra td { padding: 10px; }

/* (B) ZEBRA LIST */
ul.zebra, ol.zebra {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul.zebra li, ol.zebra li { padding: 10px; }
ul.zebra li:nth-child(odd), ol.zebra li:nth-child(odd) { background: #f2f2f2; }
div.col-md-6 input.form-control{
  height: 50px;
  width: 1200px;
}
.delete-button{
  display: inline-block;
  margin-left: 30px;
  padding: 7px 20px;
  background-color: rgb(244, 64, 64);
  color: var(--second-color);
  outline: none;
  border: 1px solid var(--second-color);
  border-radius: 10px;
  min-width: 120px;
  margin-bottom: 0;
}

.change-button{
  display: inline-block;
  margin-left: 30px;
  padding: 7px 20px;
  background-color: rgb(118, 203, 237);
  color: black;
  outline: none;
  border: 1px solid black;
  border-radius: 10px;
  min-width: 120px;
  text-decoration: none;
}

.admin{
  &-user{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    &-content{
      display: inline-block;
      margin-right: 20px;
    }
    &-buttons{
      text-align: center;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
  &-submit{
    display: inline-block;
    margin-top: 30px;
    padding: 15px 35px;
    background-color: var(--second-color);
    color: var(--hilight);
    outline: none;
    border: 1px solid var(--hilight);
    border-radius: 15px;
  }
  &-select{
    padding: 5px 0 5px 20px;
    width: 296px; 
    border: 1px solid var(--hilight);
    border-radius: 5px;
    &-wrapper{
      position: relative;
      &::after,&::before{
        content: "";
        height: 10px;
        width: 2px;
        background: var(--hilight);
        position: absolute;
        top: 9px;
        left: 274px;
        transform: rotate(30deg);
      }
      &::before{
        transform: rotate(-30deg);
        left: 270px;
      }
    }
  }
  &-project{
    &-title{
      font-weight: bold;
      margin-bottom: 10px;
      margin-top: 10px;
    }
    &-content{
      background: #f2f2f2;
      padding: 10px;
    }
    &-buttons{
      margin-top: 10px;
      &>a.change-button{
        margin-left: 0;
      }
    }
    &-newbutton{
      display: inline-block;
      margin-top: 20px;
      padding: 15px 35px;
      background-color: var(--second-color);
      color: var(--hilight);
      outline: none;
      border: 1px solid var(--hilight);
      border-radius: 15px;
      text-decoration: none;
      margin-left: 30px;
    }
    &-textarea{
      border: 2px solid var(--main-color);
    border-radius: 15px;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 30px;
    width: 1200px;
    &:focus{
      box-shadow: 0px 0px 9px 2px var(--second-color);
      border-color: var(--main-color);
      outline: none;
  }
    }
    &-submit{
      display: inline-block;
      margin-top: 20px;
      padding: 15px 35px;
      background-color: var(--second-color);
      color: var(--hilight);
      outline: none;
      border: 1px solid var(--hilight);
      border-radius: 15px;
      text-decoration: none;
      &:hover{
        box-shadow: 0px 0px 9px 2px var(--second-color);
        border-color: var(--main-color);
        outline: none;
    }
    }
  }
}
